<mat-toolbar class="flex flex-row" color="primary">
  <h2>{{  'device.assign-device-to-edge-title' | translate }}</h2>
  <span class="flex-1"></span>
  <button mat-icon-button
          (click)="cancel()"
          type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading">
</mat-progress-bar>
<div style="height: 4px;" *ngIf="!isLoading"></div>
<div mat-dialog-content fxLayout="column">
  <mat-form-field class="mat-block">
    <mat-label>{{ 'device.common.search' | translate }}</mat-label>
    <input matInput [formControl]="searchControl">
  </mat-form-field>

  <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
    {{ 'device.common.select-all' | translate }}
  </mat-checkbox>

  <div class="mat-list-container" style="flex: 1; overflow-y: auto;">
    <mat-list>
      <mat-list-item *ngFor="let entity of (entities | async)">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(entity) : null"
                      [checked]="selection.isSelected(entity)">
          {{entity.name}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div mat-dialog-actions class="flex items-center justify-end">
    <button mat-button color="primary"
            style="margin-right: 20px;"
            type="button"
            [disabled]="isLoading"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="button"
            [disabled]="isLoading || selection.isEmpty()"
            (click)="assign()">
      {{ 'action.assign' | translate }}
    </button>
  </div>
